


<div class="l-row u-grid-justify--center u-grid-align--center vh-100">
  <div class="l-col-12 l-col-sm-6">

    <div *ngIf="userLoading; else doneLoading" class="loader"></div>

    <ng-template #doneLoading>
      <div class="c-card c-panel--round">
        <header class="c-card__header u-padding--none u-text--centered u-padding--sm">
          <img src="{{usersData.picture.large}}" alt="">
        </header>
        <div class="c-card__content u-border--none u-text--centered">

          <div *ngIf="showName">
            <p class="c-card__subtitle u-margin--btm-none">My name is</p>
            <h1>{{usersData.name.first}} {{usersData.name.last}}</h1>
          </div>

          <div *ngIf="showEmail">
            <p class="c-card__subtitle u-margin--btm-none">My email address is</p>
            <h1><a href="mailto:{{usersData.email}}">{{usersData.email}}</a></h1>
          </div>

          <div *ngIf="showBirthDay">
            <p class="c-card__subtitle u-margin--btm-none">My birthday is</p>
            <h1>{{usersData.dob.date | date : 'M/d/yyyy'}}</h1>
          </div>

          <div *ngIf="showAddress">
            <p class="c-card__subtitle u-margin--btm-none">My address is</p>
            <h1>{{usersData.location.street.number}} - {{usersData.location.street.name}}, {{usersData.location.city}}</h1>
          </div>

          <div *ngIf="showPhone">
            <p class="c-card__subtitle u-margin&#45;&#45;btm-none">My number is</p>
            <h1><a href="tel:{{usersData.phone}}">{{usersData.phone}}</a></h1>
          </div>

          <div *ngIf="showPassword">
            <p class="c-card__subtitle u-margin--btm-none">My password is</p>
            <h1>{{usersData.login.password}}</h1>
          </div>

          <div class="u-grid-align--center u-display--flex u-grid-justify--center">
            <app-icon (mouseover)="showName = true; showEmail = false; showBirthDay = false; showAddress = false; showPhone = false; showPassword = false" class="u-margin--rgt-sm" [size]="'24'" [name]="'user'"></app-icon>
            <app-icon (mouseover)="showEmail = true; showName = false; showBirthDay = false; showAddress = false; showPhone = false; showPassword = false" class="u-margin--rgt-sm" [size]="'24'" [name]="'email'"></app-icon>
            <app-icon (mouseover)="showBirthDay = true; showName = false; showEmail = false; showAddress = false; showPhone = false; showPassword = false" class="u-margin--rgt-sm" [size]="'24'" [name]="'calendar'"></app-icon>
            <app-icon (mouseover)="showAddress = true; showName = false; showEmail = false; showBirthDay = false; showPhone = false; showPassword = false" class="u-margin--rgt-sm" [size]="'24'" [name]="'map'"></app-icon>
            <app-icon (mouseover)="showPhone = true; showName = false; showEmail = false; showBirthDay = false; showAddress = false; showPassword = false" class="u-margin--rgt-sm" [size]="'24'" [name]="'phone'"></app-icon>
            <app-icon (mouseover)="showPassword = true; showName = false; showEmail = false; showBirthDay = false; showAddress = false; showPhone = false" [size]="'24'" [name]="'lock'"></app-icon>
          </div>
        </div>
      </div>
    </ng-template>

  </div>
</div>



