// font sizes
$font-small: 8px;
$font-default: 16px;
$font-large: 25px;


// Border colors
$border-color: #CCCCCC;

// Colors

$primary-color: #439539;
$white: #FFFFFF;
$b-dark-grey: #262626;
$bg-color: #e9ecef;
$secondary-color: #194484
